:host {
  display: block;
  background-color: dimgrey;
  color: white
}

h3 {
  text-align: center;
}

table {
  width: 100%;
  text-align: center;
}

table, th, td {
  border:1px solid black;
}